<h2>Thông tin giao dịch ở Thế Giới Di Động bị lộ?</h2>
<p>Ngày 6/11, trên diễn đàn RaidForums, một thành viên đã lần lượt chia sẻ 3 tập tin chứa 5,4 triệu địa chỉ email
  được cho là của khách hàng Thế Giới Di Động. Một file khác xuất hiện ngay sau đó có hơn 61.000 email được cho là
  của nhân viên công ty này, với định dạng Tên người dùng @thegioididong.com.</p>
<p>Sáng 7/11, cũng chính thành viên này đã tung lên diễn đàn các dữ liệu khác và tuyên bố là thông tin của khách hàng
  hệ thống Thế Giới Di Động. File excel chứa hơn 31.000 bản ghi, liệt kê số thẻ ngân hàng, ngày giờ giao dịch, số
  tiền giao dịch cùng một số thông tin khác. Tập tin cũng liệt kê điểm thực hiện giao dịch chi tiết tới chi nhánh nào
  của Thế Giới Di Động hay Điện Máy Xanh. Các giao dịch được cho là thực hiện từ ngày 29/6 đến 18/7/2016.</p>
<p>Tuy nhiên, sau đó ông Đặng Thanh Phong, Trưởng phòng truyền thông của Thế Giới Di Động khẳng định thông tin chia
  sẻ trên là không chính xác. "Hiện tại hệ thống CNTT của chúng tôi vẫn an toàn, hoạt động bình thường và không hề bị
  ảnh hưởng", ông Phong nói thêm. <em><a href="https://news.zing.vn/the-gioi-di-dong-mat-gan-650-ty-sau-tin-don-lo-thong-tin-khach-hang-post890780.html"
      target="_blank" rel="noopener noreferrer">news.zing.vn - 08/11/2018</a></em></p>
<h2>Công cụ kiểm tra thông tin rò rỉ</h2>
<p>Công cụ này sẽ kiểm tra thông
  tin email và thẻ trong danh sách dữ liệu bị rò rỉ để giúp người dùng xác thực một cách dễ dàng, nhanh chóng.</p>
<p>Người dùng chỉ cần nhập thông tin email hoặc thông tin thẻ của mình và ấn nút <strong>"Kiểm tra"</strong>. Hệ
  thống sẽ trả về những giao dịch liên quan đến số thẻ nếu có hoặc trạng thái của những email đã nhập trên.</p>
<h2 id="privacy">Tính bảo mật và riêng tư của thông tin</h2>
<p>ANNHOME không sử dụng số thẻ đầy đủ và các thông tin khác trên thẻ để tra cứu. Chúng tôi cam kết không lưu trữ bất
  kỳ thông tin nào của người dùng trên trang, bao gồm: các email, sáu chữ số đầu và bốn chữ số cuối của thẻ.</p>
<p>Khi người dùng nhập số thẻ (đã được che đi một phần), chúng tôi sẽ đối chiếu lại trên dữ liệu được cập nhật thường
  xuyên và đưa ra các giao dịch có liên quan đến số thẻ này. ANNHOME Breach Check sử dụng HTTPS, dữ liệu giữa người
  dùng và máy chủ ANNHOME điều được mã hoá với TLS/SSL.</p>
<h2 id="transaction">Tôi phải làm gì nếu số thẻ đã nhập có phát sinh các giao dịch?</h2>
<p>Nếu thông tin thẻ bạn nhập tồn tại trong hệ thống, điều này không đồng nghĩa với việc thẻ của bạn đã bị lộ vì dữ
  liệu này chưa được xác thực. Nhưng để đảm bảo an toàn cho chính mình, ANNHOME khuyến cáo bạn nên đối soát lại với
  ngân hàng, đồng thời khóa các thẻ này nếu có phát sinh các giao dịch lạ.</p>
<h2 id="email">Tôi phải làm gì nếu email của tôi tồn tại trong các tập tin này?</h2>
<p>Hiện tại, chưa có những thông tin chính xác nhận liên quan đến danh sách email này. ANNHOME sẽ cập nhập sớm nhất
  cho người dùng. Để tăng cường bảo mật cho email, bạn nên đổi mật khẩu thường xuyên và bật xác thực hai bước.</p>
<h2>Miễn trừ trách nhiệm</h2>
<p>Hệ thống và công cụ được ANNHOME xây dựng dựa trên các dữ liệu được chia sẻ tại website https://raidforums.com.
  ANNHOME không xác nhận và chịu trách nhiệm về tính chính xác của những thông tin trên.</p>
<h2>Tài liệu tham khảo và thông tin liên quan</h2>
<ul>
  <li><a href="https://sohoa.vnexpress.net/tin-tuc/doi-song-so/bao-mat/thong-tin-tai-khoan-da-giao-dich-tai-the-gioi-di-dong-bi-phat-tan-hoan-toan-3835906.html"
      target="_blank" rel="noopener noreferrer">Thông tin tài khoản đã giao dịch tại Thế Giới Di Động bị phát tán
      hoàn toàn</a><em> vnexpress.net - 07/11/2018</em></li>
  <li><a href="https://news.zing.vn/the-gioi-di-dong-phu-nhan-de-lo-thong-tin-khach-hang-post890456.html" target="_blank"
      rel="noopener noreferrer">Thế Giới Di Động phủ nhận để lộ thông tin khách hàng</a><em> news.zing.vn -
      07/11/2018</em></li>
  <li><a href="https://news.zing.vn/hacker-tiep-tuc-he-lo-danh-sach-ma-the-ngan-hang-tu-the-gioi-di-dong-post890574.html"
      target="_blank" rel="noopener noreferrer">Hacker tiếp tục hé lộ danh sách mã thẻ ngân hàng từ Thế Giới Di Động?</a><em>
      news.zing.vn - 07/11/2018</em></li>
  <li><a href="https://sohoa.vnexpress.net/tin-tuc/doi-song-so/bao-mat/thong-tin-tai-khoan-da-giao-dich-tai-the-gioi-di-dong-bi-phat-tan-hoan-toan-3835906.html"
      target="_blank" rel="noopener noreferrer">Ngân hàng nói gì về vụ lộ thông tin giao dịch ở Thế Giới Di Động?</a><em>
      vnexpress.net - 08/11/2018</em></li>
</ul>